<h1>Informations sur les gares et stations d'Ile de France</h1>


<label>Enter Text</label>
<input type = "text" name = "searchField" id = "searchField" [(ngModel)] ="searchFieldValue">
<button id ="submitButton" (click) = "submit()">Envoyer</button>

<br/>

<ul class ="gares">
  <li *ngFor = "let gare of gareList" (click) = "onSelect(gare)">
    {{gare.fields.nom_lda}}
  </li>
</ul>

<!-- Second page stuff-->
<div class = "secondPage" *ngIf="secondPageIsVisible">
  <h1>Information sur la gare {{selectedGare.fields.nom_lda}}</h1>

  <ul class = metroList>
      <li *ngFor = "let metro of resCom">
          {{metro}}
      </li>
  </ul>

</div>
